portalFqdn: {{ .Values.portalFqdn }}

image:
  repository: {{ .Values.image.repository }}
  tag: {{ .Values.image.tag | quote }}
  pullPolicy: IfNotPresent
  pullSecret: {{ .Values.image.pullSecret.name }}

api:
  name: config_api
  group: api
  resources: {}
