hydra:
  config:
    dsn: "postgres://{{ .Values.qdb.user }}:{{ .Values.qdb.password }}@{{ .Values.qdb.host }}:{{ .Values.qdb.service.port }}/hydra?ssl_enable=false"
    urls:
      self:
        issuer: "https://{{ .Values.portalFqdn }}/hydra-public/"
      login: "https://{{ .Values.portalFqdn }}/#/login"
      consent: "https://{{ .Values.portalFqdn }}/#/consent"
