auth:
  username: {{ .Values.mongodb.user }}
  password: {{ .Values.mongodb.password }}
  database: {{ .Values.mongodb.database }}

persistence:
  existingClaim: mongodb-data-pvc

extraFlags:
  - "--wiredTigerCacheSizeGB=1"
