image:
  repository: {{ .Values.image.repository }}
  tag: {{ .Values.image.tag }}
  pullPolicy: IfNotPresent
  pullSecret: {{ .Values.image.pullSecret.name }}

api:
  name: data_api
  group: api
  resources: {}


volumeMounts:
  - name: private-key
    mountPath: /opt/quantotto/keys

volumes:
  - name: private-key
    secret:
      secretName: private-key
      items:
      - key: private.key
        path: private_key.pem

