image:
  repository: {{ .Values.image.repository }}
  tag: {{ .Values.image.tag }}
  pullPolicy: IfNotPresent
  pullSecret: {{ .Values.image.pullSecret.name }}

masqueradeAddress: {{ .Values.ftp.masqueradeAddress }}