hydra:
  config:
    urls:
      self:
        issuer: "https://{{ .Values.portalFqdn }}/hydra-public/"
      login: "https://{{ .Values.portalFqdn }}/#/login-page"
      consent: "https://{{ .Values.portalFqdn }}/#/consent-page"
  autoMigrate: true
  existingSecret: hydra-secret

service:
  admin:
    enabled: false
  public:
    enabled: false
