global:
  storageClass: {{ .Values.rabbitmq.volume.storageClass }}

auth:
  username: {{ .Values.rabbitmq.user }}
  password: {{ .Values.rabbitmq.password }}

persistence:
  enabled: false

extraEnvVarsCM: rabbitmq-env
