image:
  repository: {{ .Values.image.repository }}
  tag: {{ .Values.image.tag }}
  pullPolicy: IfNotPresent
  pullSecret: {{ .Values.image.pullSecret.name }}

customer:
  id: {{ .Values.customer.id }}

app:
  name: real_time_data

service:
  enabled: true

